<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Information</title>
	<style type="text/css">
		html {
			background-color: #494949;
		}
		p {
			color: #dfdfdf;
		}
	</style>
</head>
<body>
	<img src="../../assets/images/style_GSWS/Logo_inverted.png" alt="" width="300" />
	<p>GGlasgow is one of Europe's most exciting destinations, which combines the energy and sophistication of a great international city with some of Scotland's most spectacular scenery.</p>
	<p>Be the first to know what is on in the city with the Glasgow city guide app. Access the latest retail, dining and leisure offers.  As well as full what's on listings, location based searching and integrated Google mapping.</p>
	<p>Whether you live in Glasgow or are just visiting this app is the perfect guide while in the city.  Whether you are looking for something to see and do or trying to find somewhere to eat this app can help.</p>

</body>
</html>
